.logo {
  margin-right: 25px;
  height: 64px;
}

.logo__image {
  height: 100%;
}

@media (max-width: 1000px) {
  .logo {
    height: 50px;
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .logo {
    height: 40px;
    margin-right: 10px;
  }
}
