.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: #f2eac7;
  padding: 25px 50px;
  /* z-index: 2; */
  /* box-shadow:  inset 0px 5px 0px rgba(0, 0, 0, .2); */
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 25px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 10px;
  }
}

.header__button {
  height: 31px;
  cursor: pointer;
  color: #3b3a2d;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 1000px) {
  .header__button {
    line-height: 25px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  .header__button {
    line-height: 20px;
    height: 20px;
    font-size: 12px;
  }
}

.header__border {
  width: 12px;
  height: 31px;
  border-left: 1px solid #3b3a2d;
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .header__border {
    width: 10px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  .header__border {
    width: 8px;
    height: 20px;
  }
}

.header__conteiner {
  display: flex;
  margin-left: auto;
}

/* .header__logo {
  background-image: url(../../images/logo.svg);
  height: 38px;
  width: 38px;
  margin-right: 28px;
}

.header__conteiner {
  display: flex;
  width: calc(100% - 38px - 28px);
  align-items: center;
}

@media (max-width: 1000px) {
  .header__conteiner {
    display: none;
  }
}

.header__link-register {
  cursor: pointer;
  text-decoration: none;
  margin-right: 30px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  font-style: normal;
  margin-left: auto;
  color: #000;
}

@media (max-width: 600px) {
  .header__link-register {
    margin-right: 14px;
    font-size: 10px;
    line-height: 1.6;
  }
}

.header__enter-button {
  width: 76px;
  height: 32px;
  cursor: pointer;
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 600px) {
  .header__enter-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 26px;
  }
}

.header__text {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 500;
  font-style: normal;
  margin-left: 16px;
}

.header__text_link {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.header__profile-button {
  height: 32px;
  width: 100px;
  background-color: #f9f9f9;
  border-radius: 20px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  margin-left: auto;
  color: #000;
  text-align: center;
}

.header__profile-button_link {
  cursor: pointer;
  text-decoration: none;
}

.header__burger-button {
  display: none;
}

@media (max-width: 1000px) {
  .header__burger-button {
    display: block;
    background: none;
    background-image: url(../../images/burger.svg);
    height: 44px;
    width: 44px;
    margin-left: auto;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .header__burger-button {
    width: 40px;
  }
} */
